<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        

<hibernate-configuration>
	<session-factory>
	
	<!-- JDBC Properties -->
	<property name="hibernate.connection.username">postgres</property>
	<property name="hibernate.connection.password">postgres</property>
	<property name="hibernate.connection.url">jdbc:postgresql://project1-db.cjmgqna5svfy.us-east-2.rds.amazonaws.com:5432/</property>
	
	<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	<property name="hibernate.connection.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
	
	<property name="hibernate.show_sql">false</property>
	<property name="hibernate.format_sql">false</property>
	

	<property name="hibernate.connection.pool_size">10</property>
	
	<property name="hibernate.hbm2ddl.auto">update</property>
	<!-- CREATE, VALIDATE, UPDATE, NONE -->
	

	
	<mapping class="com.revature.model.User"/>
	<mapping class="com.revature.model.Role"/>
	<mapping class="com.revature.model.Reimbursement"/>	
	<mapping class="com.revature.model.Status"/>
	<mapping class="com.revature.model.Type"/>
	</session-factory>
</hibernate-configuration>





